<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Serveur SMS</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

	<!-- Styles -->
	{% include 'partials/styles.html.twig' %}
</head>
<body>
	<div class="wrapper">
		<!-- Navbar Header -->
		{% include 'partials/navbar_header.html.twig' %}

		<!-- Sidebar -->
		{% include 'partials/sidebar.html.twig' %}

		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Liste des types de message</h4>
                    </div>
                    <div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<a href="{{ path('app_Add_type_message') }}">
											<button class="btn btn-primary btn-round ml-auto">
												<i class="fa fa-plus"></i>
												Ajouter un type de message
											</button>
										</a>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>ID</th>
													<th>Type de message</th>
													<th style="width: 10%"></th>
												</tr>
											</thead>
											<tbody>
												{% for type in typeMessage %}
													<tr>
														<td> {{ type.id }} </td>
														<td> {{ type.nomType }} </td>
														<td>
															<div class="form-button-action">
																<button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Modifier le type de contact">
																	<a href="{{ path('app_Edit_type_message', {'id': type.id}) }}">
																		<i class="fa fa-edit"></i>
																	</a>
																</button>

																<form method="post" action="{{ path('app_Delete_type_contact', {'id': type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
																	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
																	<button type="submit" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Supprimer type de contact">
																		<i class="fa fa-times"></i>
																	</button>
																</form>
																
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	
	{% include 'partials/javascript.html.twig' %}  

    <script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>
</body>
</html>