<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Serveur SMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <!-- Styles -->
    {% include 'partials/styles.html.twig' %}
</head>
<body>
    <div class="wrapper">
        <!-- Navbar Header -->
        {% include 'partials/navbar_header.html.twig' %}

        <!-- Sidebar -->
        {% include 'partials/sidebar.html.twig' %}

        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">Envoyer Message</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                {{ form_start(form) }}
                                    <div class="card-header">
                                        <div class="card-title">Contact</div>
                                    </div>
                                    <div class="card-body">
                                        
                                        <div class="form-group">
                                            {{ form_label(form.contact) }}
                                            {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        
                                        <div class="form-group">
                                            {{ form_label(form.contenu) }}
                                            {{ form_widget(form.contenu, {'attr': {'class': 'form-control', 'placeholder': 'Contenu du message'}}) }}
                                        </div>

										<div class="form-group">
											{{ form_label(form.dateMessage) }}
											{{ form_widget(form.dateMessage, {'attr': {'class': 'form-control'}}) }}
										</div>


                                        <!-- Ajoutez d'autres champs de formulaire ici -->

                                    </div>
                                    <div class="card-action">
                                        <button type="submit" class="btn btn-success">Envoyer</button>
                                        <a href="{{ path('app_contact') }}" class="btn btn-danger">Annuler</a>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'partials/javascript.html.twig' %}  
</body>
</html>
